.navbar-brand h1{
    color: #ffffff;
    text-transform: capitalize;
}

#tile-a, #tile-b, #tile-c{
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
    border: 1px solid #d4d4d4;
    position: relative;
    /* overflow: hidden; */
}

#tile-a:hover, #tile-b:hover, #tile-c:hover{
    box-shadow: 0 2px 4px slategrey;
    font-weight: bold;
}

#tile-a, #tile-b{
    background: url('https://via.placeholder.com/400') no-repeat;
    background-position: center;
}

#tile-a span, #tile-b span, #tile-c span{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    /* font-size: 1.1em; */
    background-color: #000000;
    color: #ffffff;
    opacity: .6;
}

.footer {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    /* background-color: #222; */
    /* border-top: 0; */
    color: #ffffff;
  }
  
  .footer div.row {
    margin-bottom: 5px;
  }


/* Media Queries */

/* Extra Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) {
    #tile-a, #tile-b{
        width: 360px;
        margin: 0 auto 15px;
    }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */